<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="center">
    <div>
        <div class="user-card">
            <div>
                <h1>Find GitHub User</h1>
            </div>

            <div class="pseudo-search">
                <input type="text" class="pseudo-search" id="nombre-usuario" [(ngModel)]="nombreUsuario"
                    [ngModelOptions]="{standalone:true}">
                <button><i class="fa-brands fa-github"></i><i class="fa-solid fa-magnifying-glass" (click)="buscarUsuarios(nombreUsuario)"></i></button>
            </div>
        </div>
    </div>
    <div class="card">
        <div *ngIf="mostrar">
            <div class="additional">
                <div class="user-card">
                    <div class="round">
                        <div>
                            <div class="level">{{usuarioDatos.login}}</div>

                            <img src="{{usuarioDatos.avatar_url}}" alt="Avatar"
                                style="padding-top: 10px; padding-bottom: 10px;">
                            <div class="points">{{usuarioDatos.created_at | date: 'mediumDate'}}</div>

                        </div>
                    </div>
                </div>
                <div class="more-info">
                    <h1>{{usuarioDatos.name ? usuarioDatos.name : 'No disponible'}}</h1>
                    <div class="informacionNueva"><i
                            class="fa-sharp fa-solid fa-location-dot"></i>{{usuarioDatos.location ?
                        usuarioDatos.location : 'No disponible'}}</div>
                    <div class="informacionNueva2"><i class="fa-brands fa-twitter"></i>@{{usuarioDatos.twitter_username
                        ? usuarioDatos.twitter_username : 'No disponible'}}</div>


                    <div class="url"><i class="fa-solid fa-blog"></i> {{usuarioDatos.blog ? usuarioDatos.blog : 'No disponible'}}</div>
                    <div class="contenedorFollowers">
                        <div class="columna"><span>repos</span><br><i class="fa-solid fa-code-branch"></i><br>{{usuarioDatos.public_repos}}</div>
                        <div class="columna"><span>followers</span><br><i class="fa-solid fa-users"></i><br>{{usuarioDatos.followers}}</div>
                        <div class="columna"><span>following</span><br><i class="fa-solid fa-user-plus"></i><br>{{usuarioDatos.following}}</div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>